body {
    /* background-color: #E5E5E5; */
    background-color: red;
    border: solid;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

option:focus {
    outline: none;
}

select option {
    outline: none;
    border: none;
}